* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif; }

.wrapper .header {
  width: 100%; }
  .wrapper .header .header-container {
    margin: 0 auto;
    width: 60%;
    padding: 20px 0; }
    .wrapper .header .header-container .contact {
      width: auto;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .wrapper .header .header-container .contact .logo {
        margin-right: 40px; }
        .wrapper .header .header-container .contact .logo img {
          width: 180px; }
      .wrapper .header .header-container .contact .contact__telephone,
      .wrapper .header .header-container .contact .contact__opening-time,
      .wrapper .header .header-container .contact .contact__email {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        border-right: 1px solid #ededed; }
        .wrapper .header .header-container .contact .contact__telephone i,
        .wrapper .header .header-container .contact .contact__opening-time i,
        .wrapper .header .header-container .contact .contact__email i {
          font-size: 28px;
          color: #0b4571;
          margin-right: 8px; }
        .wrapper .header .header-container .contact .contact__telephone .content p:nth-child(1),
        .wrapper .header .header-container .contact .contact__opening-time .content p:nth-child(1),
        .wrapper .header .header-container .contact .contact__email .content p:nth-child(1) {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 3px; }
        .wrapper .header .header-container .contact .contact__telephone .content p:nth-child(2),
        .wrapper .header .header-container .contact .contact__opening-time .content p:nth-child(2),
        .wrapper .header .header-container .contact .contact__email .content p:nth-child(2) {
          font-size: 13px;
          color: #bebebe; }
      .wrapper .header .header-container .contact .network-social-logo {
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .wrapper .header .header-container .contact .network-social-logo i {
          margin-right: 8px;
          color: #0b4571;
          font-size: 18px; }

.wrapper .navigation-bar {
  height: 55px;
  background-color: #164271;
  color: white; }
  .wrapper .navigation-bar .bar-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    height: 100%; }
    .wrapper .navigation-bar .bar-container .navbar {
      padding-left: 0;
      padding-right: 0; }
      .wrapper .navigation-bar .bar-container .navbar .nav-link {
        color: white; }
      .wrapper .navigation-bar .bar-container .navbar ul {
        background-color: #164271; }
      .wrapper .navigation-bar .bar-container .navbar .navbar-collapse {
        z-index: 2; }
        .wrapper .navigation-bar .bar-container .navbar .navbar-collapse ul li {
          padding-left: 10px; }
          .wrapper .navigation-bar .bar-container .navbar .navbar-collapse ul li:hover {
            background-color: #2767ac; }
    .wrapper .navigation-bar .bar-container button.send-request {
      height: 65%;
      width: 140px;
      color: white;
      font-size: 13px;
      font-weight: bold;
      background-color: #fdc41c;
      border: none;
      outline: none;
      cursor: pointer;
      margin-right: 20px;
      align-self: center; }

.wrapper .slide-image {
  width: 100%; }
  .wrapper .slide-image .carousel {
    height: 100%;
    overflow: hidden; }
    .wrapper .slide-image .carousel .carousel-indicators ol {
      z-index: 1; }
      .wrapper .slide-image .carousel .carousel-indicators ol li {
        width: 25px;
        height: 6px;
        margin: 7px; }
    .wrapper .slide-image .carousel .carousel-inner {
      height: 100%; }
      .wrapper .slide-image .carousel .carousel-inner .carousel-item {
        height: 100%;
        object-fit: contain; }
        .wrapper .slide-image .carousel .carousel-inner .carousel-item img {
          object-fit: cover; }
        .wrapper .slide-image .carousel .carousel-inner .carousel-item .carousel-caption {
          z-index: 1;
          height: 100%;
          display: flex !important;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .wrapper .slide-image .carousel .carousel-inner .carousel-item .carousel-caption h1 {
            font-weight: bold; }
          .wrapper .slide-image .carousel .carousel-inner .carousel-item .carousel-caption hr {
            margin: 20px auto;
            border: 1.5px solid #f4c33a;
            width: 65px;
            background-color: #f4c33a; }
          .wrapper .slide-image .carousel .carousel-inner .carousel-item .carousel-caption p {
            margin: 0 auto;
            width: 36%; }

.wrapper .information {
  height: auto;
  margin-top: 40px; }
  .wrapper .information .row {
    margin: 0; }
  .wrapper .information hr {
    margin: 10px 0 30px 0;
    border: 1.5px solid #f4c33a;
    width: 50px;
    background-color: #f4c33a; }
  .wrapper .information .information-container .row div[class*="col-"] {
    padding: 0; }
  .wrapper .information .information-container .people-image {
    background-image: url(../image/people.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90% 100%;
    min-height: 300px; }
  .wrapper .information .information-container .helpful-support-team {
    padding: 30px 40px;
    margin: auto 0; }
    .wrapper .information .information-container .helpful-support-team p {
      width: 60%;
      font-size: 15px;
      color: #aaaaaa; }
    .wrapper .information .information-container .helpful-support-team button {
      margin-top: 25px;
      width: 110px;
      height: 35px;
      background-color: transparent;
      border-width: 3px 7px;
      border-color: #023e6f;
      font-weight: bold;
      color: #023e6f;
      outline-style: none;
      cursor: pointer; }
  .wrapper .information .information-container .why-choose-us {
    background-color: #164271;
    color: #fefcff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30%;
    padding-right: 50px; }
    .wrapper .information .information-container .why-choose-us ul {
      padding-left: 20px; }
      .wrapper .information .information-container .why-choose-us ul li {
        list-style: none; }
        .wrapper .information .information-container .why-choose-us ul li i {
          color: #f4c33a;
          font-size: 9px;
          margin-right: 18px; }
    .wrapper .information .information-container .why-choose-us button {
      margin-left: 20px;
      margin-top: 35px;
      width: 110px;
      height: 35px;
      background-color: transparent;
      border-style: solid;
      border-width: 3px 6px;
      border-color: #fefcff;
      font-weight: bold;
      color: #fefcff;
      outline-style: none;
      cursor: pointer; }
  .wrapper .information .information-container .car-image {
    overflow: hidden;
    background-image: url(../image/car.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px; }

.wrapper .services {
  text-align: center;
  margin-top: 90px; }
  .wrapper .services hr {
    margin: 10px auto;
    border: 1.5px solid #f4c33a;
    width: 50px;
    background-color: #f4c33a; }
  .wrapper .services .services-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    .wrapper .services .services-container p {
      margin-bottom: 0; }
    .wrapper .services .services-container div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(50% - 20px);
      padding: 100px 0;
      margin: 10px;
      background-size: auto 100%;
      background-position: center;
      color: white;
      font-size: 22px;
      font-weight: bold; }
    .wrapper .services .services-container .ground-shipping {
      background-image: url(../image/plane.jpg); }
    .wrapper .services .services-container .warehousing {
      background-image: url(../image/staff.jpg); }
    .wrapper .services .services-container .trucking-service {
      background-image: url(../image/trucking.jpg); }
    .wrapper .services .services-container .caro-service {
      background-image: url(../image/caro.jpg); }

.wrapper .quote-slide {
  width: 100%;
  height: 450px;
  margin-top: 80px; }
  .wrapper .quote-slide .carousel {
    background-image: url(../image/quote-background.jpg);
    background-size: cover;
    background-position-y: 80%;
    width: 100%;
    height: 100%; }
    .wrapper .quote-slide .carousel .carousel-inner {
      width: 100%;
      height: 100%;
      display: flex; }
      .wrapper .quote-slide .carousel .carousel-inner .carousel-item {
        margin-right: 0;
        height: 100%; }
        .wrapper .quote-slide .carousel .carousel-inner .carousel-item .carousel-caption {
          height: 100%;
          display: flex !important;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .wrapper .quote-slide .carousel .carousel-inner .carousel-item .carousel-caption h1 {
            font-weight: bold;
            font-size: 31px; }
          .wrapper .quote-slide .carousel .carousel-inner .carousel-item .carousel-caption hr {
            margin: 10px auto 25px auto;
            border: 1.5px solid #f4c33a;
            width: 50px;
            background-color: #f4c33a; }
          .wrapper .quote-slide .carousel .carousel-inner .carousel-item .carousel-caption .fas {
            font-size: 40px;
            margin-bottom: 20px; }
          .wrapper .quote-slide .carousel .carousel-inner .carousel-item .carousel-caption p {
            width: 60%; }
          .wrapper .quote-slide .carousel .carousel-inner .carousel-item .carousel-caption .avatar {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 5px solid white;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px; }
            .wrapper .quote-slide .carousel .carousel-inner .carousel-item .carousel-caption .avatar img {
              position: absolute;
              left: -5px;
              top: -2px;
              object-fit: cover;
              height: 73px;
              margin: auto; }
    .wrapper .quote-slide .carousel .carousel-control-prev {
      left: 125px; }
      .wrapper .quote-slide .carousel .carousel-control-prev .carousel-control-prev-icon {
        background-image: none;
        font-size: 27px;
        margin-right: 20px; }
    .wrapper .quote-slide .carousel .carousel-control-next {
      right: 125px; }
      .wrapper .quote-slide .carousel .carousel-control-next .carousel-control-next-icon {
        background-image: none;
        font-size: 27px;
        margin-left: 20px; }

.wrapper .get-quote {
  width: 100%;
  padding: 40px 0; }
  .wrapper .get-quote hr {
    margin: 10px 0 20px 0;
    border: 1.5px solid #f4c33a;
    width: 50px;
    background-color: #f4c33a; }
  .wrapper .get-quote .get-quote-container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .wrapper .get-quote .get-quote-container div {
      width: 75%; }
      .wrapper .get-quote .get-quote-container div p {
        color: #aaaaaa;
        font-size: 15px; }
    .wrapper .get-quote .get-quote-container button {
      width: 130px;
      height: 45px;
      border: none;
      outline-style: none;
      background-color: #17426d;
      color: white;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer; }

.wrapper .feedback {
  width: 100%;
  padding: 30px 0;
  background-color: #23438d; }
  .wrapper .feedback .contact-container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../image/contact-background.png);
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 40px; }
    .wrapper .feedback .contact-container div h5 {
      color: #f4fdfd;
      border-left: 2px solid #f4c33a;
      padding-left: 10px;
      margin-bottom: 30px;
      font-size: 16px; }
    .wrapper .feedback .contact-container .company {
      width: 30%; }
      .wrapper .feedback .contact-container .company div {
        display: flex;
        align-items: center; }
        .wrapper .feedback .contact-container .company div .fas {
          font-size: 45px;
          color: #f4c33a; }
        .wrapper .feedback .contact-container .company div .content {
          display: flex;
          flex-direction: column;
          color: #f4fdfd; }
          .wrapper .feedback .contact-container .company div .content span {
            font-size: 30px;
            font-weight: bold; }
          .wrapper .feedback .contact-container .company div .content p {
            margin-left: 8px;
            font-size: 15px;
            line-height: 15px; }
      .wrapper .feedback .contact-container .company > p {
        color: #95b7db;
        margin-top: 20px; }
    .wrapper .feedback .contact-container .usefullinks tr {
      height: 27px; }
      .wrapper .feedback .contact-container .usefullinks tr td {
        padding-right: 40px; }
        .wrapper .feedback .contact-container .usefullinks tr td a {
          text-decoration: none;
          color: #95b7db; }
    .wrapper .feedback .contact-container .contact-information {
      display: flex;
      flex-direction: column; }
      .wrapper .feedback .contact-container .contact-information p {
        color: #95b7db;
        font-size: 14px;
        line-height: 23px; }
      .wrapper .feedback .contact-container .contact-information input {
        margin-top: 20px;
        height: 48px;
        width: 270px;
        padding-left: 15px;
        color: #95b7db;
        outline-style: none;
        border: 1px solid #95b7db;
        background-color: transparent; }
      .wrapper .feedback .contact-container .contact-information ::placeholder {
        color: #95b7db; }
      .wrapper .feedback .contact-container .contact-information button {
        margin-left: 20px;
        margin-top: 35px;
        width: 130px;
        height: 35px;
        background-color: transparent;
        border-style: solid;
        border-width: 3px 6px;
        border-color: #95b7db;
        font-weight: bold;
        color: #95b7db;
        outline-style: none;
        cursor: pointer; }

.wrapper .footer {
  width: 100%;
  height: 65px;
  background-color: #12355b; }
  .wrapper .footer .footer-container {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .wrapper .footer .footer-container p {
      font-size: 12.5px;
      color: #95b7db;
      margin-bottom: 0; }
    .wrapper .footer .footer-container .network-social-logo {
      margin-left: 20px; }
      .wrapper .footer .footer-container .network-social-logo i {
        margin-right: 10px;
        color: #95b7db;
        font-size: 18px;
        cursor: pointer; }

@media only screen and (max-width: 767px) {
  .row-reversed {
    flex-direction: column-reverse; } }

@media only screen and (max-width: 768px) {
  .information-container {
    width: 100% !important; }
    .information-container .people-image {
      background-position: center bottom !important; }
    .information-container .helpful-support-team p {
      width: 100% !important; }
    .information-container .why-choose-us {
      padding: 30px 40px !important; }
  .slide-image p {
    width: 90% !important; }
  div[class*="-container"]:not(.information-container) {
    width: 95% !important; }
  .contact {
    justify-content: space-around !important; }
  .get-quote .get-quote-container {
    flex-direction: column; }
  .feedback .contact-container {
    justify-content: space-around !important; }
    .feedback .contact-container .contact-information {
      width: 100%;
      flex-direction: row !important;
      justify-content: space-around; }
  .quote-slide .carousel-item p {
    width: 80% !important; }
  .quote-slide .carousel-control-next {
    right: 60px !important; }
  .quote-slide .carousel-control-prev {
    left: 60px !important; } }

@media only screen and (max-width: 450px) {
  .contact .logo {
    margin: 0 !important; }
  .contact div {
    padding-left: 5px !important; }
  .contact .network-social-logo {
    margin: 0 !important; }
  .services-container .ground-shipping,
  .services-container .warehousing,
  .services-container .trucking-service,
  .services-container .caro-service {
    margin: 10px auto !important;
    width: 90% !important; }
  .feedback .contact-container {
    justify-content: space-between !important;
    flex-direction: column;
    align-items: center; }
    .feedback .contact-container div:not(.content) {
      margin: 10px 0;
      width: 90% !important; }
    .feedback .contact-container .contact-information {
      width: 100%;
      flex-direction: column !important;
      justify-content: space-around; }
  .quote-slide .avatar {
    display: none; }
  .quote-slide .carousel-item p {
    width: 100% !important; }
  .quote-slide .carousel-control-next {
    right: 5px !important; }
  .quote-slide .carousel-control-prev {
    left: 5px !important; }
  .footer .network-social-logo {
    margin-left: 0 !important; }
  .slide-image h1 {
    font-size: 1.5rem; }
  .slide-image hr {
    margin: 5px auto !important;
    width: 50px !important; }
  .slide-image p {
    display: none; } }
