* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

.wrapper {
    .header {
        width: 100%;
        .header-container {
            margin: 0 auto;
            width: 60%;
            padding: 20px 0;
            .contact {
                .logo {
                    margin-right: 40px;
                    img {
                        width: 180px;
                    }
                }
                width: auto;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .contact__telephone,
                .contact__opening-time,
                .contact__email {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 25px;
                    border-right: 1px solid #ededed;
                    i {
                        font-size: 28px;
                        color: #0b4571;
                        margin-right: 8px;
                    }
                    .content {
                        p:nth-child(1) {
                            font-size: 14px;
                            font-weight: bold;
                            margin-bottom: 3px;
                        }
                        p:nth-child(2) {
                            font-size: 13px;
                            color: #bebebe;
                        }
                    }
                }

                .network-social-logo {
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        margin-right: 8px;
                        color: #0b4571;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .navigation-bar {
        height: 55px;
        background-color: #164271;
        color: white;
        .bar-container {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 60%;
            height: 100%;
            .navbar {
                padding-left: 0;
                padding-right: 0;
                .nav-link {
                    color: white;
                }
                ul {
                    background-color: #164271;
                }
                .navbar-collapse {
                    z-index: 2;
                    ul {
                        li{
                            padding-left: 10px;
                            &:hover {
                                background-color: #2767ac;
                            }
                        }
                    }
                }
            }
            button.send-request {
                height: 65%;
                width: 140px;
                color: white;
                font-size: 13px;
                font-weight: bold;
                background-color: #fdc41c;
                border: none;
                outline: none;
                cursor: pointer;
                margin-right: 20px;
                align-self: center;
            }
        }
    }

    .slide-image {
        width: 100%;
        .carousel {
            height: 100%;
            overflow: hidden;
            .carousel-indicators {
                ol{
                    z-index: 1;
                    li {
                        width: 25px;
                        height: 6px;
                        margin: 7px;
                    }
                }
            }
            .carousel-inner {
                height: 100%;
                .carousel-item {
                    height: 100%;
                    object-fit: contain;
                    img {
                        object-fit: cover;
                    }
                    .carousel-caption {
                        z-index: 1;
                        height: 100%;
                        display: flex !important;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h1 {
                            font-weight: bold;
                        }
                        hr {
                            margin: 20px auto;
                            border: 1.5px solid #f4c33a;
                            width: 65px;
                            background-color: #f4c33a;
                        }
                        p {
                            margin: 0 auto;
                            width: 36%;
                        }
                    }
                }
            }
        }
    }

    .information {
        height: auto;
        margin-top: 40px;
        .row {
            margin: 0;
        } 
        hr {
            margin: 10px 0 30px 0;
            border: 1.5px solid #f4c33a;
            width: 50px;
            background-color: #f4c33a;
        }

        .information-container {
            .row {
                div[class*="col-"] {
                    padding: 0;
                }
            }

            .people-image {
                background-image: url(../image/people.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 90% 100%;
                min-height: 300px;
                // img {
                //     float: right;
                //     margin-right: 40px;
                // }
            }

            .helpful-support-team {
                padding: 30px 40px;
                margin: auto 0;

                p {
                    width: 60%;
                    font-size: 15px;
                    color: #aaaaaa;
                }

                button {
                    margin-top: 25px;
                    width: 110px;
                    height: 35px;
                    background-color: transparent;
                    border-width: 3px 7px;
                    border-color: #023e6f;
                    font-weight: bold;
                    color: #023e6f;
                    outline-style: none;
                    cursor: pointer;
                }
            }

            .why-choose-us {
                background-color: #164271;
                color: #fefcff;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 30%;
                padding-right: 50px;
                ul {
                    padding-left: 20px;
                    li {
                        list-style: none;
                        i {
                            color: #f4c33a;
                            font-size: 9px;
                            margin-right: 18px;
                        }
                    }
                }

                button {
                    margin-left: 20px;
                    margin-top: 35px;
                    width: 110px;
                    height: 35px;
                    background-color: transparent;
                    border-style: solid;
                    border-width: 3px 6px;
                    border-color: #fefcff;
                    font-weight: bold;
                    color: #fefcff;
                    outline-style: none;
                    cursor: pointer;
                }
            }

            .car-image {
                overflow: hidden;
                background-image: url(../image/car.png);
                background-size: cover;
                background-repeat: no-repeat;
                min-height: 300px;
            }
        }
    }

    .services {
        text-align: center;
        margin-top: 90px;
        hr {
            margin: 10px auto;
            border: 1.5px solid #f4c33a;
            width: 50px;
            background-color: #f4c33a;
        }
        .services-container {
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            p {
                margin-bottom: 0;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: calc(50% - 20px);
                padding: 100px 0;
                margin: 10px;
                background-size: auto 100%;
                background-position: center;
                color: white;
                font-size: 22px;
                font-weight: bold;
            }
            .ground-shipping {
                background-image: url(../image/plane.jpg);
            }

            .warehousing {
                background-image: url(../image/staff.jpg);
            }

            .trucking-service {
                background-image: url(../image/trucking.jpg);
            }

            .caro-service {
                background-image: url(../image/caro.jpg);
            }
        }
    }

    .quote-slide {
        width: 100%;
        height: 450px;
        margin-top: 80px;
        .carousel {
            background-image: url(../image/quote-background.jpg);
            background-size: cover;
            background-position-y: 80%;
            width: 100%;
            height: 100%;
            .carousel-inner {
                width: 100%;
                height: 100%;
                display: flex;

                .carousel-item {
                    margin-right: 0;
                    height: 100%;
                    .carousel-caption {
                        height: 100%;
                        display: flex !important;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h1 {
                            font-weight: bold;
                            font-size: 31px;
                        }
                        hr {
                            margin: 10px auto 25px auto;
                            border: 1.5px solid #f4c33a;
                            width: 50px;
                            background-color: #f4c33a;
                        }
                        .fas {
                            font-size: 40px;
                            margin-bottom: 20px;
                        }
                        p {
                            width: 60%;
                        }
                        .avatar {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            border: 5px solid white;
                            overflow: hidden;
                            position: relative;
                            img {
                                position: absolute;
                                left: -5px;
                                top: -2px;
                                object-fit: cover;
                                height: 73px;
                                margin: auto;
                            }
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .carousel-control-prev {
                left: 125px;
                .carousel-control-prev-icon {
                    background-image: none;
                    font-size: 27px;
                    margin-right: 20px;
                }
            }
            .carousel-control-next {
                right: 125px;
                .carousel-control-next-icon {
                    background-image: none;
                    font-size: 27px;
                    margin-left: 20px;
                }
            }
        }
    }

    .get-quote {
        width: 100%;
        padding: 40px 0;
        hr {
            margin: 10px 0 20px 0;
            border: 1.5px solid #f4c33a;
            width: 50px;
            background-color: #f4c33a;
        }
        .get-quote-container {
            width: 60%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                width: 75%;
                p {
                    color: #aaaaaa;
                    font-size: 15px;
                }
            }
            button {
                width: 130px;
                height: 45px;
                border: none;
                outline-style: none;
                background-color: #17426d;
                color: white;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .feedback {
        width: 100%;
        padding: 30px 0;
        background-color: #23438d;
        .contact-container {
            width: 60%;
            height: 100%;
            margin: 0 auto;
            background-image: url(../image/contact-background.png);
            background-size: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            box-sizing: border-box;
            padding-top: 40px;
            div {
                h5 {
                    color: #f4fdfd;
                    border-left: 2px solid #f4c33a;
                    padding-left: 10px;
                    margin-bottom: 30px;
                    font-size: 16px;
                }
            }

            .company {
                width: 30%;
                div {
                    display: flex;
                    align-items: center;

                    .fas {
                        font-size: 45px;
                        color: #f4c33a;
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        color: #f4fdfd;
                        span {
                            font-size: 30px;
                            font-weight: bold;
                        }
                        p {
                            margin-left: 8px;
                            font-size: 15px;
                            line-height: 15px;
                        }
                    }
                }

                & > p {
                    color: #95b7db;
                    margin-top: 20px;
                }
            }

            .usefullinks {
                tr {
                    height: 27px;
                    td {
                        padding-right: 40px;
                        a {
                            text-decoration: none;
                            color: #95b7db;
                        }
                    }
                }
            }

            .contact-information {
                display: flex;
                flex-direction: column;
                p {
                    color: #95b7db;
                    font-size: 14px;
                    line-height: 23px;
                }
                input {
                    margin-top: 20px;
                    height: 48px;
                    width: 270px;
                    padding-left: 15px;
                    color: #95b7db;
                    outline-style: none;
                    border: 1px solid#95b7db;
                    background-color: transparent;
                }
                ::placeholder {
                    color: #95b7db;
                }
                button {
                    margin-left: 20px;
                    margin-top: 35px;
                    width: 130px;
                    height: 35px;
                    background-color: transparent;
                    border-style: solid;
                    border-width: 3px 6px;
                    border-color: #95b7db;
                    font-weight: bold;
                    color: #95b7db;
                    outline-style: none;
                    cursor: pointer;
                }
            }
        }
    }

    .footer {
        width: 100%;
        height: 65px;
        background-color: #12355b;
        .footer-container {
            height: 100%;
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-size: 12.5px;
                color: #95b7db;
                margin-bottom: 0;
            }
            .network-social-logo {
                margin-left: 20px;
                i {
                    margin-right: 10px;
                    color: #95b7db;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .row-reversed {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 768px) {
    .information-container{
        width: 100%!important;
        .people-image {
            background-position: center bottom!important;
        }
        .helpful-support-team {
            p {
                width: 100%!important;
            }
        }
        .why-choose-us {
            padding: 30px 40px !important;
        }
    }

    .slide-image {
        p {
            width: 90%!important;
        }
    }

    div[class*="-container"]:not(.information-container) {
        width: 95%!important;
    }

    .contact {
        justify-content: space-around!important;
    }

    .get-quote {
        .get-quote-container {
            flex-direction: column;
        }
    }

    .feedback {
        .contact-container {
            justify-content: space-around!important;
            .contact-information {
                width: 100%;
                flex-direction: row!important;
                justify-content: space-around;
            }
        }
    }

    .quote-slide {
        .carousel-item {
            p {
                width: 80%!important;
            }
        }
        .carousel-control-next {
            right: 60px!important;
        }
        .carousel-control-prev {
            left: 60px!important;
        }
    }
}

@media only screen and (max-width: 450px) {
    .contact {
        .logo {
            margin: 0!important;
        }
        div {
            padding-left: 5px!important;
        }
        .network-social-logo {
            margin: 0!important;
        }
    }
    .services-container {
        
        .ground-shipping,
        .warehousing,
        .trucking-service,
        .caro-service {
            margin: 10px auto!important;
            width: 90%!important;
        }
    }
    .feedback {
        .contact-container {
            justify-content: space-between!important;
            flex-direction: column;
            align-items: center;
            div:not(.content) {
                margin: 10px 0;
                width: 90%!important;
            }
            .contact-information {
                width: 100%;
                flex-direction: column!important;
                justify-content: space-around;
            }
        }
    }
    .quote-slide {
        .avatar {
            display: none;
        }
        .carousel-item {
            p {
                width: 100%!important;
            }
        }
        .carousel-control-next {
            right: 5px!important;
        }
        .carousel-control-prev {
            left: 5px!important;
        }
    }
    .footer {
        .network-social-logo {
            margin-left: 0!important;
        }
    }
    .slide-image {
        h1 {
            font-size: 1.5rem;
        }
        hr {
            margin: 5px auto!important;
            width: 50px!important;
        }
        p {
            display: none;
        }
    }
}

